.header {
  width: 70%;
  min-height: 74px;
  margin: 45px auto 0;
  border-bottom: 1px solid #545454;
}

@media (max-width: 1079px) {
  .header {
    width: 90%;
  }
}

@media (max-width: 730px) {
  .header {
    width: 100%;
    margin-top: 28px;
    min-height: 56px;
  }
}