.profile__avatar {
  grid-area: avatar;
  border-radius: 50%;
  width: 120px;
  min-height: 120px;
  object-fit: cover;
  object-position: center;
  margin: 0 30px 0 0;
}

@media (max-width: 730px) {
  .profile__avatar {
    margin: 38px auto 0;
  }
}