.footer {
  min-height: 78px;
  width: 70%;
  margin: 66px auto 0;
}

@media (max-width: 1079px) {
  .footer {
    width: 90%;
  }
}

@media (max-width: 730px) {
  .footer {
    width: 100%;
    margin: 48px auto 0;
    padding: 0 19px 0;
    box-sizing: border-box;
    min-height: 50px;
  }
}